body {
  background-color: #fffbea;
  font-family: 'Annie Use Your Telescope', sans-serif;
}
header {
  border: 4px solid #c65200;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.2em 0.7em;
  margin: 1em;
}
main {
  display: grid;
  grid-template-columns: repeat(7, 12vw);
  grid-template-rows: repeat(7, 12vw);
}
h1 {
  font-family: 'Cabin Sketch', cursive;
}

svg {
  grid-row: 1;
  grid-column: 1;
  z-index: 1;
  justify-self: center;

  align-self: center;
  min-width: 100%;
  min-height: 100%;
  box-sizing: border-box;
}
line {
  stroke: #23101e;
  stroke-width: 2;
}

img {
  width: 100%;
  height: 100%;
  grid-row: 1;
  grid-column: 1;
  max-height: 90%;
  max-width: 90%;
  z-index: 2;
}

.tile {
  height: 100%;
  width: 100%;
  background-color: #fffbea;
  display: grid;
  grid-template-rows: 1;
  grid-template-columns: 1;

  border: 1px #23101e solid;
}
.active-tile {
  background-color: #bbff9b;
}
.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.foxy {
  color: #c65200;
}
.goosy {
  color: #2e2351;
}
