body {
  background-color: #fffbea;
  font-family: 'Playfair Display', serif;
}
main {
  display: grid;
  grid-template-columns: repeat(7, 12vw);
  grid-template-rows: repeat(7, 12vw);
}
.tile {
  height: 100%;
  width: 100%;
  background-color: #bbff9b;

  display: flex;
  align-items: center;
  justify-content: center;
}
.fox {
  background-image: url(../assets/fox.svg);
  background-size: cover;
}
.goose {
  background-image: url(../assets/goose.svg);
  background-size: cover;
}
line {
  stroke: #23101e;
  stroke-width: 2;
}

img {
  max-height: 80%;
  max-width: 80%;
}
div {
  border: 1px #23101e solid;
}
